@using Blog.WebService.ViewModels.Article;

@model ArticleListViewModel;

@{
    ViewData["Title"] = "ArticleList";
    
    var userArticles = new List<int>();

    if (User.Identity.IsAuthenticated)
    {
        userArticles = Model.CurrentAccount.Articles.Select(a => a.Id).ToList();
    }
}

<div class="container px-0">
    <div class="row">
        <h2>Все статьи</h2>
        <a class="mb-2" asp-area="" asp-controller="Article" asp-action="Add">Добавить статью</a>
        <hr />

        @foreach (var article in Model.Articles)
        {
            <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-body">
                        <a class="card-title nav-link" asp-area="" asp-controller="Article" asp-action="Article" asp-route-id="@article.Id">@article.Title</a>
                        <div class="d-flex flex-column gap-1 mb-2">
                            <div>
                                <p class="text-truncate">@article.Content</p>
                            </div>
                            <div>
                                @foreach (var tag in article.Tags)
                                {
                                    <span class="badge bg-success">@tag.Name</span>
                                }
                            </div>
                        </div>
                        @if (userArticles.Contains(article.Id) || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <div class="btn-group" role="group" aria-label="Article option buttons">
                                <a type="button" class="btn btn-outline-secondary" asp-area="" asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id">Редактировать</a>
                                <form asp-area="" asp-controller="Article" asp-action="Delete" asp-route-articleId="@article.Id">
                                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>