@using Blog.WebService.ViewModels.Article;

@model ArticleViewModel;

@{
    ViewData["Title"] = "Article";

    var userComments = new List<int>();

    if (User.Identity.IsAuthenticated)
    {
        userComments = Model.CurrentAccount.Comments.Select(a => a.Id).ToList();
    }
}

<div class="container-lg px-0">
    <div class="col">
        <h2>@Model.Title</h2>
        <div class="d-flex flex-row gap-1">
            @foreach (var tag in Model.Tags)
            {
                <span class="badge bg-success">@tag.Name</span>
            }
        </div>
        <hr />

        <div>
            <p>@Model.Content</p>
        </div>
        <hr />
        <div class="d-flex justify-content-end">
            <p class="text-secondary mb-0"><a>@Model.User.Profile.GetFullName()</a></p>
            <br />
            <p class="text-secondary">@Model.User.Email</p>
        </div>
    </div>
    <div class="col">

        <h2>Комментарии к статье</h2>

        <div class="d-flex flex-column">
            @if (Model.CurrentAccount != null)
            {
                <form method="post" asp-controller="Comment" asp-action="Add">
                    <div asp-asp-validation-summary="Model">
                        <input type="hidden" asp-for="AddComment.UserId" value="@Model.CurrentAccount.Id" />
                        <input type="hidden" asp-for="AddComment.ArticleId" value="@Model.Id" />
                        <div class="col my-3">
                            <textarea asp-for="AddComment.Content" class="form-control" type="text" placeholder="Комментарий"></textarea>
                        </div>

                        <div class="col my-3">
                            <input class="btn btn-primary" type="submit" value="Оставить комментарий" />
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="col my-3">
                    <p>Чтобы оставить комментарий <a asp-area="" asp-controller="AccountManager" asp-action="Login">авторизируйтесь</a></p>
                </div>
            }

            <hr />

            @foreach (var comment in Model.Comments)
            {
                <div class="my-3 border p-2">
                    <text>@comment.Content</text>
                    <div class="d-flex justify-content-end">
                        @if (userComments.Contains(comment.Id) || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <div class="btn-group" role="group" aria-label="Article option buttons">
                                <a type="button" class="btn btn-outline-secondary" asp-area="" asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id">Редактировать</a>
                                <form asp-area="" asp-controller="Comment" asp-action="Delete" asp-route-commentId="@comment.Id" asp-route-articleId="@Model.Id">
                                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <span class="badge bg-success">@comment.User.Email</span>
                </div>
            }
        </div>
    </div>
</div>

